@charset "utf-8";

#forex_box {
    -webkit-box-shadow: 0px 0px 5px grey;
    -moz-box-shadow: 0px 0px 5px grey;
    box-shadow: 0px 0px 5px grey;
    border-radius: 5px;
    padding: 35px 25px;
    line-height: 1;
}

#forex_box .source_heading,
#forex_box .target_heading {
    text-transform: capitalize;
}

#forex_box .source_heading,
#forex_box .time_heading {
    color: gray;
    line-height: 1.4;
}

#forex_box .source_heading {
    font-size: x-large;
    margin-bottom: 5px;
}

#forex_box .source_heading {
    font-size: large;
}

/* Form for Source & Target Currency */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-control,
.form-select {
    font-size: medium;
    font-weight: 500;
}

@media screen and (max-width: 575px) {
    #forex_box {
        padding: 25px 12px;
    }

    #forex_box .col-5,
    #forex_box .col-7 {
        padding-left: 4px;
        padding-right: 4px;
    }

    #forex_box .col-5 {
        padding-left: 14px;
    }
}