@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;500&display=swap');

.brand_box {
    font-family: 'Signika', sans-serif;
    padding: 25px 10px 15px 10px;
}

.brand_box .brand_name_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand_name_logo img {
    width: auto;
    height: 70px;
}

.brand_name_logo span {
    color: darkslategrey;
    padding-left: 10px;
}